h1{
            text-align:center;
            font-size:22px;
        }
        h2{
            text-align:center;
        }
        .style6{
            font-style: italic;
        }
        
        .sofia{
            text-align: right;
        }
       
        
    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #000;
    }

    th {
                @media (min-width: 993px) {
    th {
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }

}
@media (min-width: 769px) and (max-width: 992px) {
    th {
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
}
@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}
        color:#FFC0CB;
        background-color: green;
        font-weight: bold;
         text-align:center;
        font-weight:600;
        
    }

    caption {
        text-align: left;
        font-weight: bold;
        padding: 8px;
         text-align:center;
    }


    tr:nth-child(odd) {
        background-color: #E0E0E0;
        color: #000000;
   

@media (min-width: 993px) {
    th {
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }

}
@media (min-width: 769px) and (max-width: 992px) {
    th {
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
}
@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}
