.style1 {
            text-align:center; 
            font-size: 24px;
        }
        .style2 {
            font-size: 120%;
        }

        a#biography-link:link {
            color: #FF5733;
        }

        a#biography-link:visited {
            color: #33FF57;
        }


        a#nowadays-link:link {
            color: #5733FF;
        }

        a#nowadays-link:visited {
            color: #FFB533;
        }


        a#friends-link:link {
            color: #33B5FF;
        }

        a#friends-link:visited {
            color: #B533FF;
        }


        a#gallery-link:link {
            color: #FF33A1;
        }

        a#gallery-link:visited {
            color: #A133FF;
        }
      color: #000000;
    }
 

