.block1{
  background-color:#FFF8DC;
}
.block2{
  background-color:#FFEBCD;
}
.block3{
  background-color:#F5DEB3;
}
.block4{
  background-color:#FFDEAD;
}
h4{
  background-color:#BC8F8F;
  width:150px;
}

